* {
    margin: 0;
    padding: 0;
    
}
html {
    scroll-behavior: smooth;
}
--root{
    --primary-color:#ff6600;
    --secondary-color:#1d1d1d;
    --white:aliceblue;

}
.Dark-theme{
    background: linear-gradient(#f0f0f0, #e0e0e0);
    transition: 2ms;
    #icon{
        background-image: url('./image/moon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    header{
        background-color: #d9d9d9;
    }
    .logo .img{
        background-image: url("./image/107869718_1434208323433875_4054186320597871079_n.jpg");
    }
    .logo .company_name a ,nav ul li a {
        color: #0e0e0e;
    }
    .content{
        background: linear-gradient(90deg, rgba(48, 109, 138, 0.904) 0%,rgba(255, 255, 255, 0.39) 50%, rgba(241, 125, 17, 0) 90%);
    }
    .content::after{
        background-color: #d9d9d9;
        background-image: url("./image/107869718_1434208323433875_4054186320597871079_n.jpg");
    }
    .nameA,.nameE{
        font-weight: 700;
    }
    .box1,.box2,.box3,.box4,.box5,.box6{
      background-color: #383838;
    }
    .slider{
        background-color:inherit;
    }
    .text{
        color: rgb(0, 0, 0);
    };
}
#icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline;
    margin-right: 30px;
    background-image: url('./image/sun.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
body {
    background: #d9d9d9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Zain", sans-serif;
}

header{
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    top:auto;
    width: 100%;
    height: 70px;
    background-color:#ffffff;
    border-bottom: 2px solid #242424;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;
    margin-left: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo .company_name a{
    font-size: 40px;
    font-weight: 400;
    color: #242424;
    margin: 7px;
    text-decoration: none;
}

nav{
    margin: 0px 6px;
    padding: 0px 6px;
    display: flex;
    align-items: center;
}
ul {
    display: inline;
    
}

nav ul li {
    display: inline-block;
    margin: 6px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    
}

nav ul li a:hover {
    color: rgb(241, 126, 17);
}
i{
    width: min-content;
    height: min-content;
    color: #ffffff;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: #0097d9;
    background: linear-gradient(90deg, rgba(48, 109, 138, 0.651) 0%,rgba(0, 92, 110, 0) 50%, rgba(241,126,17,0.6) 90%);
    align-items: right;
    justify-content: center;
}
.content::before{
    content: "";
    width: 100%;
    height: 100%;
    clip-path: circle(50% at left);
    position: absolute;
    z-index: -1;
    background-image: url("./image/417570499_223418844162259_5867619198353707610_n.jpg");
    background-size: 100%;
    background-position: center left;
    background-repeat: no-repeat;
}
.nameE{
    font-size: 100px;
    font-weight: 700;
    color: #fa6a32;

}
.nameA{
    font-size: 50px;
    font-weight: 500;
    color: #0097d9;
}

.service {
    width: 100%;
    height: 100vh;
 display: flex;
 flex-direction: column;
 overflow: hidden;
}
.service .address1{
    align-self: center;
    width: max-content;
    height: 10%;
    color: #fa6a32;
    font-size: 50px;
    margin: 2%;
}
.boxes{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "box3 box2 box1"
    "box6 box5 box4"
    ;
    gap: 10px 40px ;
    border-radius: 4px;
    align-self: center;
}
.box1,.box2,.box3,.box4,.box5,.box6{
        width: 100%;
        height: 100%;
      background-color: #0e0e0e;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      
    }
    .box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover{
        /* border: 1px solid #01aee3; */
        /* box-shadow: #01aee3 1px 1px 1px; */
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}

.boxes img{
    height: 80%;
    width: 100%;
   box-shadow: 2px #222222;
   border-radius: 7px;
}

.boxes h1{
    width: max-content;
    color: #01aee3;
}
.achievements ,.who{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.achievements .address2,.address3{
    align-self: center;
    width: max-content;
    height: 10%;
    color: #ffffff;
    background-color: #ff6600;
    font-size: 50px;
    margin: 2%;
}
.slider{
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}
.slide_track{
    display: flex;
    height: 100%;
    width: calc(250px * 18);
    animation: slide 40s linear infinite;
}
.slide_track:hover{
    animation-play-state: paused;
}
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 9)); }
    
}
.image_slider{
    width: 20%;
    height: 100%;
    margin: 0 10px;
    border-radius: 4px;
    display: inline-block;
    perspective: 100px;
    image-rendering:optimizeQuality
}
.image_slider:hover{
    transform: scale(1);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right,rgba(56,56,56,1) 0%,
    rgba(255,255,255,0)100%);
    content: "";
    height: 100%;
    position: absolute;width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.details{
    display: flex;
    flex-direction: row;
}
.who img{
    width: 40%;
    height: 80%;
    margin: 5%;
    border-radius: 4px;
    border: #01aee3 solid 2px;
}
.text{
    font-size: 40px;
    color: aliceblue;
    direction: rtl;
    margin: 2%  5%;
}
.connect{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: #000000;
    opacity: .7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #ff6600 solid 2px;
    border-radius: 4px;
}
.connect h1{
    font-size: 24px;
    color: aliceblue;
    margin: 2%;
}
.connect .icons{
    height: 30%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.connect .icons a img{
    height: 40px;
    width: 40px;
}
.connect .icons a img:hover{
    height: 45px;
    width: 45px;
}
.right{
    display: flex;
    flex-direction: row;
    color: #ffffff;
}
.right span{
    display: inline;
}
@media (min-width:950px) and (max-width:1150px) {

    nav ul li a{
        font-size: 18px;
        font-weight: 300;
    }
    .nameE{
        font-size: 60px;
    }
    .nameA{
        font-size: 40px;
    }
}
@media (max-width:950px) {
    header{
        height:50px;
    }
    .logo img{
        width: 60px;
        height: 100%;
        margin-left: 4px;
    }
    nav ul li a{
        display: none;
    }
    .logo .company_name a{
        font-size: 25px;
        font-weight: 400
    }
    .content::after{
        display: none;
    }
    .nameE{
        font-size: 60px;
    }
    .nameA{
        font-size: 30px;
    }
    .service{
        height: max-content;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        height: max-content;
        overflow-y:auto
    }
    .who{
        height: min-content;
        align-self: center;
    }
    .details{
        flex-direction: column-reverse;
    }
}