* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

--root {
    --primary-color: #ff6600;
    --secondary-color: #01aee3;
    --white: aliceblue;
}

body {
    background: #d9d9d9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Zain", sans-serif;
}

header {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    top: auto;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 2px solid #202020;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: center;
}

.logo .img {
    width: 80px;
    height: 80px;
    margin-left: 4px;
    background-image: url('./image/cropped_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo .company_name a {
    font-size: 40px;
    font-weight: 400;
    color: #252525;
    margin: 7px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.logo p {
    display: inline;
    font-size: 12px;
    color: #222222;
}

nav {
    margin: 0px 6px;
    padding: 0px 6px;
    display: flex;
    align-items: center;
}

ul {
    display: inline;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
}

nav ul li a:hover {
    color: rgb(241, 126, 17);
}

i {
    width: min-content;
    height: min-content;
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: rgb(241,126,17);
    background: linear-gradient(90deg, rgba(241,126,17,1) 0%, rgba(170, 170, 170, 0.913) 100%);
    align-items: right;
    justify-content: center;
}

.content::before {
    content: "";
    width: 100%;
    height: 100vh;
    clip-path: circle(50% at left);
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}

.nameE {
    font-size: 100px;
    font-weight: 700;
    color: #fa6a32;
    display: block;
    width: max-content;

}

.nameA {
    font-size: 50px;
    font-weight: 500;
    color: #2c2c2c;
    display: block;
    width: max-content;
}

.service {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.service .address1,
.address_edit {
    align-self: center;
    width: max-content;
    height: 10%;
    color: #fa6a32;
    font-size: 50px;
    margin: 2%;
}

.w {
    height: 70px;
    width: 100%;
}

.boxes {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    border-radius: 4px;
    align-self: center;
    position: relative;
}

.box {
    margin-right: 6px;
    width: 25%;
    height: max-content;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.box:hover {
    background-color: #222222;
    cursor: pointer;
    h1,
    .description,
    .history {
        color: #6fbcdd;
        text-decoration: underline;
    }
    .TopBox img {
        filter: grayscale(20%)
    }
}

.BottomBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.TopBox {
    height: max-content;
    width: max-content;
    max-height: 100%;
    max-width: 100%;
}

.box img {
    display: block;
    height: 320px;
    width: 320px;
    box-shadow: 2px #222222;
    border-radius: 7px;
    align-self: end;
}

.box h1 {
    width: max-content;
    color: #ffffff;
    margin: 10px 10px 0 2px;
    display: inline;
    font-size: 25px;
    word-wrap: break-word;
    width: 100%;
    justify-self: start;
}

.box .description {
    width: 100%;
    height: max-content;
    color: #ffffff;
    margin: 2px 10px;
    display: block;
    word-wrap: break-word;
}

.box .history {
    font-size: 15px;
    width: max-content;
    color: #ffffff;
    margin: 2px 10px;
    display: flex;
    justify-self: end;
}

.button_mange {
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0097d9;
    margin: 10px;
    padding: 4px;
    border-radius: 7px;
}

.updateArticle,
.removeArticle {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.updateArticle:hover,
.removeArticle:hover {
    background-color: #097cad;
}

.updateArticle img,
.removeArticle img {
    width: 35px;
    height: 35px;
}

.more {
    align-self: center;
    width: max-content;
    height: auto;
    color: #ffffff;
    background-color: #ff6600;
    font-size: 25px;
    margin: 2%;
    cursor: pointer;
}

.achievements,
.who {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.achievements .address2,
.address3 {
    align-self: center;
    width: max-content;
    height: 10%;
    color: #ffffff;
    background-color: #ff6600;
    font-size: 50px;
    margin: 2%;
}

.img-slider {
    margin-top: 50px;
    width: 60%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
    align-self: center;
}

.details {
    display: flex;
    flex-direction: row;
}

.who img {
    width: 40%;
    height: 80%;
    margin: 5%;
    border-radius: 4px;
    border: #01aee3 solid 2px;
}

.text {
    font-size: 25px;
    color: rgb(0, 0, 0);
    direction: rtl;
    margin: 2% 5%;
}

.connect {
    margin-top: 30px;
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #000000;
    opacity: .7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #0097d9 solid 2px;
    border-radius: 4px;
}

.connect h1 {
    font-size: 24px;
    color: aliceblue;
    margin: 2%;
}

.connect .icons {
    height: 30%;
    width: 20%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
}

.connect .icons a img {
    height: 40px;
    width: 40px;
}

.connect .icons a img:hover {
    height: 45px;
    width: 45px;
}

.right {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.right span {
    display: inline;
}


/*Article Reading Page*/

.article_information {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.img_article {
    display: flex;
    background-color: #0097d9;
    width: auto;
    height: 400px;
    img {
        width: auto;
        height: 100%;
    }
}

.title {
    font-size: 2.5em;
    display: block;
    margin: 10px;
    font-weight: 600;
    /* width: 100%; */
}

.descrip {
    font-size: 1.7em;
    display: block;
    margin: 10px;
    font-weight: 450;
    margin-top: 15px;
    line-height: 45px;
    color: #222222;
    width: 100%;
}

.his {
    display: flex;
    align-self: start;
    margin: 25px 0;
    color: #222222;
}

.content_Article {
    font-size: 1.5em;
    display: block;
    margin: 10px;
    font-weight: 450;
    margin-top: 15px;
    line-height: 45px;
    color: #222222;
    width: 100%;
}

.editor {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.add_title,
.add_descrip {
    width: 100%;
    height: 40px;
    margin: 20px;
    border: none;
    padding: 8px;
    font-size: 1.3em;
    font-family: "Zain", sans-serif;
    border-radius: 10px;
    outline: none;
}

.Add_date {
    width: 50%;
    height: 40px;
    margin: 20px;
    border: none;
    padding: 8px;
    font-size: 1.3em;
    font-family: "Zain", sans-serif;
    border-radius: 10px;
    outline: none;
    align-self: start;
}

.add_content {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.btn_save {
    width: 80px;
    height: 50px;
    display: flex;
    background-color: #0097d9;
    margin: 10px;
    padding: 4px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.btn_save:hover {
    background-color: #0d77a5;
}

@media (min-width:900px)and(max-width:1150px) {
    nav ul li a {
        font-size: 18px;
        font-weight: 300;
    }
    .nameE {
        font-size: 60px;
  
    }
    .nameA {
        font-size: 25px;
    }
    .content{
        display: flex;
        align-items: center;
        background: rgb(241,126,17);
        background: linear-gradient(180deg, rgba(241,126,17,1) 0%, rgba(170, 170, 170, 0.913) 100%);
    }

}

@media (max-width:900px) {


    .boxes {
        display: flex;
        flex-direction: column;
        height: max-content;
        overflow-y: auto;
        display:flex;
        align-items: center;
    }
    .box{
        width: 90%;
    }
    .editor {
        width: 90%;
    }

}